<div class="flex-grow flex items-center justify-center h-screen px-5">
    <form class="flex w-1/6 flex-col p-8 bg-background text-foreground border border-border rounded-lg shadow">

        @foreach (var field in Model.GetProperties())
        {
            <div class="mb-5">
                <label for="@field.Name" class="block mb-2 text-sm font-medium text-muted-foreground">@field.Name</label>
                <input type="@field.Name" id="@field.Name"
                       class="border border-border text-muted-foreground text-sm rounded-lg block w-full p-2.5 bg-background dark:bg-background dark:border-border dark:text-primary dark:focus:ring-primary"
                       placeholder="@field.Name" required/>
            </div>
        }

        <div class="flex items-start mb-5">
            <div class="flex items-center h-5">
                <input id="remember" type="checkbox" value=""
                       class="w-4 h-4 border border-border rounded-sm"
                       required/>
            </div>
            <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
        </div>
        <button type="submit"
                class="text-primary bg-secondary hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-primary font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-secondary dark:hover:bg- dark:focus:ring-primary">
            Submit
        </button>
    </form>
</div>



@code{

    [Parameter]
    [EditorRequired]
    public Type Model { get; set; } = null!;
}